.centerX {
  display: flex;
  justify-content: center;
}
.centerY {
  display: flex;
  align-items: center;
}
.centerXY {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
